@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		color-scheme: light;
	}

	html.dark {
		color-scheme: dark;
	}

	body {
		@apply bg-slate-50 text-slate-900 dark:bg-slate-900 dark:text-slate-50 font-body;
	}

	h1,
	h2,
	h3,
	.font-display {
		font-family: 'Syne', sans-serif;
	}
}

@layer utilities {
	.fade-delay-100 {
		animation-delay: 100ms;
	}

	.fade-delay-180 {
		animation-delay: 180ms;
	}

	.fade-delay-220 {
		animation-delay: 220ms;
	}

	.fade-delay-320 {
		animation-delay: 320ms;
	}

	.fade-delay-340 {
		animation-delay: 340ms;
	}

	.fade-delay-460 {
		animation-delay: 460ms;
	}
}
